body {
    padding-top: 30px;
    padding-bottom: 40px;

    /*background-image: linear-gradient(right top, #FAFAFA 17%, #C2C2C2 100%);
    background-image: -o-linear-gradient(right top, #FAFAFA 17%, #C2C2C2 100%);
    background-image: -moz-linear-gradient(right top, #FAFAFA 17%, #C2C2C2 100%);
    background-image: -webkit-linear-gradient(right top, #FAFAFA 17%, #C2C2C2 100%);
    background-image: -ms-linear-gradient(right top, #FAFAFA 17%, #C2C2C2 100%);

    background-image: -webkit-gradient(
      linear,
      right top,
      left bottom,
      color-stop(0.17, #FAFAFA),
      color-stop(1, #C2C2C2)
    );*/

/*background-image: linear-gradient(left bottom, #DBDBDB 0%, #FFFFFF 100%);
background-image: -o-linear-gradient(left bottom, #DBDBDB 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(left bottom, #DBDBDB 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(left bottom, #DBDBDB 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(left bottom, #DBDBDB 0%, #FFFFFF 100%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  right top,
  color-stop(0, #DBDBDB),
  color-stop(1, #FFFFFF)
);*/

}

footer{
	text-align: center;
}

#myModal {
    width: 700px;
    margin-left: -350px;
}

.tab-content {
	overflow: visible;
}

label.valid {
  	width: 24px;
  	/*height: 24px;*/
  	background: url(../img/valid.png) center center no-repeat;
  	display: inline-block;
  	text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 2px;
	/*margin-top: 2px;*/
	display: inline-block;
}


.extraSearch{
  display: none;
} 

#formConsultasGenerales .form-horizontal .control-label {
  float: left;
  padding-top: 5px;
  text-align: left;
}

#formConsultasGenerales .form-horizontal .controls {
  margin-left: 150px;
}

#formConsultasGenerales .form-horizontal .control-group {
  margin-bottom: 10px;
}
.page-header {
  margin: 20px 0 30px;
  border-bottom: 1px solid #EEE;
}
.page-header h3 {
  font-size: 24px;
  line-height: 25px;
}